<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid" id="jumbotron">
            <div class="container">
                <h1 class="display-3">Welcome to cotrip!</h1>
                <p class="lead">You've just landed on the right platform to revolutionize your holidays.</p>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-block">
            <h4 class="card-title">Cotrip users</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <div class="row">
                <div class="col-xs-6 text-xs-center">
                    <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['Login']">Login</button>
                </div>
                <div class="col-xs-6 text-xs-center">
                    <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['SignUp']">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>