<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="card card-block text-xs-center">
            <h4 class="card-title">Login</h4>
            <p class="card-text">We are glad you came back!</p>
            <form [ngFormModel]="loginForm" #f="ngForm">
                <fieldset class="form-group">
                    <input type="text" ngControl="username" required class="form-control" placeholder="Username">
                </fieldset>
                <fieldset class="form-group">
                    <input type="password" ngControl="password" required class="form-control" placeholder="Password">
                </fieldset>
            </form>
            <a href="#" class="btn btn-primary" (click)="authenticate(f.value)">Login</a>
            <button type="button" class="btn btn-link btn-sm" [routerLink]="['SignUp']">or sign up instead</button>
        </div>
    </div>
</div>